@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

*{
  margin: 0;
  font-family: Roboto;
}
.container{
  width: 50%;
  margin: auto;
}

.newUser{
  background: none;
  border: none;
  font-size: large;
  cursor: pointer;
}

.newUser:hover{
  text-shadow: 3px 2px white;
  text-decoration: underline;
}

.nav{
  display: flex;
  border-bottom: 2px solid  rgb(193, 195, 197);
  color: rgb(93, 93, 93);
  justify-content: space-between;
  padding: 10px;

}

.nav a{
  color: inherit;
  display: flex;
  text-decoration: none;
  padding: 5px;
  height: 100%;
}

nav ul{
  list-style: none;
  display: flex;
}

.nav-active{
  border-bottom: 1px solid black;
}

.nav li:hover{
  color: black;
}


.userContainer{
  padding: 15px;
  border-radius: 15px;
  text-align: center;
}

.userContainer img{
  border-radius: 50%;
  min-width: 20%;
  cursor: pointer;
}

.generate{
  width: 40vh;
  height: 40vh;
  margin: auto;
  background: none;
  border: 10px solid black;
  border-radius: 50%;
  cursor: pointer;
}

.generate:hover{
  box-shadow: 3px 10px #888888;
}

.male{
  border: 15px solid blue;
}

.female{
  border: 15px solid pink;
}

.contactContainer{
  padding: 50px;
  margin:auto;
  display: flex;
  width: 50%;
}

.item{
  padding: 5px;
  border: 3px solid black;
  margin: 5px;
  border-radius: 15px;
  width: 25vw;
  height: 50vh;
  align-items: center;
}

.item:hover{
  box-shadow: 5px 10px #888888;
}

h3, p{
  padding: 5px;
}

.password{
  background-color: black;
}
.password:hover{
  background-color: white;
}


